<section class="form-wrapper">
<div class="row" id="login">
  <div id="login-form-wrapper" class="col s12 col-md-12 access-form input-field">
  <%- include ../partials/_login.ejs%>
  </div>
</div>
<div class="row hide" id="sign-up">
  <div id="signup-form-wrapper" class="col s12 col-md-12 access-form input-field">
  <%- include ../partials/_signup.ejs%>
  </div>
</div>

<div class="access-container">
  <p class="text-muted access-text">
  Don't have an account yet?
  </p>
  <button class="access-button">Sign up</button>
</div>

  