<section class="form-wrapper">
<div class="row">
  <div id="login-form-wrapper" class="col s12 col-md-12 access-form input-field">
<%- include ../partials/_login.ejs%>
    </div>
    <div id="signup-form-wrapper" class="col s12 access-form input-field">
<%- include ../partials/_signup.ejs%>
    </div>
  </div>
</section>