<img src="/images/OllieTheSpotIcon.png" alt="" class="mb-4 mt-4" width="100" height="100">
  
  <div class="access-container">
  <img src="https://res.cloudinary.com/hj1ycojsg/image/upload/v1550064942/1.png" alt="" class="mb-2 mt-4" width="100" height="100">
    <div class="access-card">
      <div class="login login-div">
        <div class="row" id="login">
            <div id="login-form-wrapper" class="col s12 col-md-12 access-form input-field">
                <%- include ../partials/_login.ejs%>
            </div>
        </div>
      </div>
      <div class="signup signup-div hide">
        <div class="row" id="sign-up">
          <div id="signup-form-wrapper" class="col s12 col-md-12 access-form input-field">
            <%- include ../partials/_signup.ejs%>
          </div>
        </div>
      </div>
      
    </div>
    <div class="access-action">
    <p class="access-text">Don't you have an account?</p><button class="access-button">Sign up</button>
    </div>
    </div>
 
  
 