<section class="form-wrapper">
<div class="row" id="login">
  <div id="login-form-wrapper" class="col s12 col-md-12 access-form input-field">
  <%- include ../partials/_login.ejs%>
  </div>
</div>
<div class="row hide" id="sign-up">
  <div id="signup-form-wrapper" class="col s12 col-md-12 access-form input-field">
  <%- include ../partials/_signup.ejs%>
  </div>
</div>

<p class="mt-5 mb-3 text-muted">
    Don't have an account? <button class="access-button">Sign up</button>

  </p>