
<form action="/" method="post" class="form-control">
<input type="hidden" name="location" placeholder="Choose the location" id="demo" class="form-control" value="" required></input>
<button type="submit"> ENTER </button>
<form>
