<img src="https://res.cloudinary.com/hj1ycojsg/image/upload/v1550166686/OllieTheSpotLandingPage.png" class="img-fluid landing-page-img" alt="">

<form action="/" method="post" class="form-control enter-button">
<input type="hidden" name="location" placeholder="Choose the location" id="demo" class="form-control" value="" required></input>
<button type="submit" class="btn btn-lg btn-primary btn-block"> ENTER </button>
<form>
