<img src="https://res.cloudinary.com/ollie-the-spot/image/upload/v1549986088/ollithespot.png" class="img-fluid" alt="">
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/auth"> ENTER </a>
<section class="features-icons bg-light text-center">
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
        <div class="features-icons-icon d-flex">
        <img src="https://res.cloudinary.com/hj1ycojsg/image/upload/v1550156713/find.png" alt="" class="features-icons m-auto text-primary">
          <i class="icon-screen-desktop m-auto text-primary" src="https://res.cloudinary.com/hj1ycojsg/image/upload/v1550156713/find.png"></i>
        </div>
        <h3>Fully Responsive</h3>
        <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
        <div class="features-icons-icon d-flex">
          <i class="icon-layers m-auto text-primary"></i>
        </div>
        <h3>Bootstrap 4 Ready</h3>
        <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="features-icons-item mx-auto mb-0 mb-lg-3">
        <div class="features-icons-icon d-flex">
          <i class="icon-check m-auto text-primary"></i>
        </div>
        <h3>Easy to Use</h3>
        <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
      </div>
    </div>
  </div>
</div>
</section>
<form action="/" method="post" class="form-control">
<input type="hidden" name="location" placeholder="Choose the location" id="demo" class="form-control" value="" required></input>
<button type="submit"> ENTER </button>
<form>
