<img src="https://res.cloudinary.com/ollie-the-spot/image/upload/v1549986088/ollithespot.png" class="img-fluid" alt="">
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/auth"> ENTER </a>
