<h2>Add a new spot</h2>
<form action="/spots/new" method="post">
<input type="text" name="name" placeholder="Name">
<input type="text" name="location" placeholder="Location">
<input type="text" name="description" placeholder="Description">
<button type="submit">Add</button>
</form>