<%- include ../partials/_navbar.ejs%>
<form action="/users/edit" method="POST" id="form">
  <label for="bio">biography</label>
  <input type="text" name="bio" placeholder=<%= currentUser.bio%>>
  <button>update</button>
</form>



