<%- include ../partials/_navbar.ejs%>
<form action="/users/edit" method="POST" id="form">
  <label for="bio">biography</label>
 <textarea type="text" name="bio"><%= currentUser.bio%></textarea>
  <button>update</button>
</form>


