body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* 
*{
  background-color: red;
} */



 .no-display{
  display:none;
}
.form-wrapper{
  position:relative
} 
.access-form{
  position: absolute;
  top:0;
  left:0;
}