.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  display:flex;
  align-items: center;
  justify-content: center
}
.material-icons.plus-icon{
  width:20%
}

.floating-card{
  top: -60px;
  margin: 0 auto;
  background-color: rgba(239, 233, 231, 0.8);
  color: black;
  border:none;
  
}

.card-elements-bottom{
  display:flex;
  justify-content: space-between;
  align-items:baseline;
  margin-top: 2em;

}

hr{
  width: 90%
}

.spot-decription{
  text-align: justify;
  padding: 0 1rem;
}
.cover-picture{
  width: 100%;
  background-image: url('http://lorempixel.com/400/200/abstract/');
  height: 20vh;
}

.image--cover {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  top:-80px;
}
.profile-details-container{
  position: relative;
  top:-60px;
}
/**signup**/
.hide{
  display:none;
}

.access-action{
  position:absolute;
  bottom:8rem;
  right: 5rem;
  left: 5rem;

}



/****SPIN THE LOGIN******/


.access-card{
  position:absolute;
  width:100%;
  height:100%;
  transform-style:preserve-3d;
  transition:all 0.8s ease;
  
}
.access-card-hover{
  transform: rotateY(180deg)
}
.login{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.signup{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform:rotateY(180deg);
  background-color: white
  
}

/****MAP BOX*****/
#map{
  display:absolute;
  bottom:0;
  height: 10rem;
  margin: 3rem 1rem;
  text-align: justify;
}

/*****SPIN THE MAP************/
.spots-card{
  position:absolute;
  width:100%;
  height:100%;
  transform-style:preserve-3d;
  transition:all 0.8s ease;
 
  
}
.align-center{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.access-card-hover{
  transform: rotateY(180deg)
}
.spots-container{
  position: absolute;
  width: 100%;
  height: 100%; 
  backface-visibility: hidden;
}

#show-map{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform:rotateY(180deg);
  background-color: white
  
}
 .hide{
  display:none;
} 
